.gifContainer {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 10px;
}

.searchGifsContainr {
  margin: 0 auto 20px;
}

.loadingContainer {
  margin: 40px auto;
}

@media (max-width: 1200px) {
  .gifContainer {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}
@media (max-width: 768px) {
  .gifContainer {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .gifContainer {
    columns: 1;
  }
}
